# Copie para .env e preencha. NUNCA commite o .env real.

# NASA FIRMS  -> https://firms.modaps.eosdis.nasa.gov/api/map_key
FIRMS_MAP_KEY=sua_chave_aqui

# OpenWeather -> https://openweathermap.org/api
OPENWEATHER_KEY=sua_chave_aqui

# Oracle FIAP
ORACLE_HOST=oracle.fiap.com.br
ORACLE_PORT=1521
ORACLE_SID=ORCL
ORACLE_USER=RM000000
ORACLE_PASSWORD=sua_senha_aqui
